---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../data/posts/*.md");

function formatDate(date: string) {
    const d = new Date(date);
    const res = new Intl.DateTimeFormat("en-US", {
        dateStyle: "medium",
    }).format(d);
    return res;
}
---

<Layout title="Blog">
    <div class="flex flex-col mt-16 z-50">
        <h1 class="text-3xl font-bold text-center">Writing my thoughts</h1>

        <div class="flex mt-10 flex-wrap w-screen justify-start p-4 md:p-12">
            {
                posts.map((post) => (
                    <div class="w-full flex justify-between mx-auto  md:p-2 px-2 md:px-12 text-xl font-medium text-teal-400 cursor-pointer hover:underline hover:underline-offset-3 hover:text-teal-500 transition duration-300 ease-in-out">
                        <span>
                            <a href={`/posts/${post.frontmatter.slug}`}>
                                {post.frontmatter.title}
                            </a>
                        </span>
                        <span class="text-gray-500">
                            {" "}
                            {formatDate(post.frontmatter.date)}
                        </span>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
