---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../content/posts/*.md");
posts.sort(
  (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date)
);

function formatDate(date: string) {
  const d = new Date(date);
  const res = new Intl.DateTimeFormat("en-US", {
    dateStyle: "medium",
  }).format(d);
  return res;
}
---

<Layout title="Blog">
  <div class="flex flex-col pt-16 h-screen  z-50 ">
    <h1 class="text-3xl dark:text-slate-200 font-bold text-center">Writing my thoughts</h1>

    <div class="flex flex-1 flex-col mt-10 flex-wrap justify-start p-4 md:p-12">
      {
        posts.map((post) => (
          <div class="w-full flex  flex-wrap justify-between mx-auto lg:p-1 lg:px-32  md:p-2 px-2 md:px-12 text-base lg:text-xl font-medium  cursor-pointer hover:text-slate-400  dark:hover:text-slate-50 transition duration-300 ease-in-out">
            <div class="w-full lg:w-auto">
              <a href={`/posts/${post.frontmatter.slug}`}>
                {post.frontmatter.title}
              </a>
            </div>
            <div class="text-gray-500 text-xs lg:text-base">
              {" "}
              {formatDate(post.frontmatter.date)}
            </div>
          </div>
        ))
      }
    </div>
    <a class="text-right p-8 underline text-gray-300 text-md lg:text-base" href="rss.xml">
      RSS
    </a>
  </div>
</Layout>
