---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { projects } from "../content/_project";
import { Projects as ProjectsComponent } from "../components/Projects";
import HackathonTimeline from "../components/HackathonTimeline";
type Project = {
  index: number;
  title: string;
  description: string;
  github: string;
  live?: string;
};

//type cast to avoid type errors
const p: Project[] = projects;
---

<Layout title="Projects">
  <main
    class="flex flex-col items-center justify-center flex-1 p-2 pt-20 text-center"
  >
    <section
      class="flex mx-2 mt-4 items-start text-start min-h-0 flex-col gap-y-3 print-force-new-page scroll-mb-16"
      id="projects"
    >
      <h2 class="text-xl font-bold">Side Projects</h2>
      <ProjectsComponent />
    </section>
    <section
      class="flex mx-2 mt-8  items-start text-start min-h-0 flex-col gap-y-3 print-force-new-page scroll-mb-16"
      id="hackathons"
    >
      <h2 class="text-xl font-bold">Hackathons</h2>
      <HackathonTimeline />
    </section>
  </main>
</Layout>
