---
export interface Props {
  title: string;
  index: number;
  description: string;
  github: string;
  live?: string;
}
const { title, description, github, live } = Astro.props;
---

<a target="_blank" href={github}>
  <div
    class="w-11/12 flex flex-wrap justify-between mx-auto lg:p-1 lg:px-32 md:p-2 px-2 md:px-12 text-base font-medium  cursor-pointer hover:underline  transition-all  duration-500 ease-in-out"
  >

      <span class="text-slate-300 text-md font-bold w-full lg:w-auto">{title}</span>
      <span class="md:inline-block text-slate-400 text-md font-light"
        >{description}</span
      >
  </div>
</a>
